[Desktop Entry]
Name=Desk (Rendered)

X-KDE-PluginInfo-Name=Desk (Rendered)
X-KDE-PluginInfo-Author=Tianhao Chai
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY
