[Desktop Entry]
Name=Core 5 (Rendered Wallpapers)

X-KDE-PluginInfo-Name=Core 5 (Rendered Wallpapers)
X-KDE-PluginInfo-Author=Tianhao Chai
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY
